.products_pagination {
  position: absolute;
  height: 70px;
  background-color: var(--color-grey);
  bottom: 0;
  width: 100%;
  padding: 0 30px 0 20px;
  color: var(--color-white);
}
.products_pagination_flex {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 22px;
  justify-content: space-between;
}
.products_pagination_flex svg {
  width: 35px;
  height: 35px;
}
.products_pagination_flex svg:hover {
  cursor: pointer;
}
.flex {
  display: flex;
  gap: 40px;
}

.products_pagination_buttons {
  display: flex;
  gap: 10px;
}

.products_pagination_btn {
  background: var(--gradient-grey2);
  color: var(--color-white);
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 120px;
}
.products_pagination_btn_active {
  background: var(--gradient-primary);
  color: var(--color-white);
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 120px;
}
